<header>
  <a [routerLink]="['/']" class="pkmn-header__container">
    <img src="assets/images/pokeball.png" alt="Search Pokemon">
    <span><strong>Search</strong>Pokemon</span>
  </a>

  <nav class="pkmn-header__nav">
    <span class="fa-solid fa-bars" id="btn-menu" (click)="btnMenuAction()"></span>
    <ul class="pkmn-header__menu bg-transition" [ngClass]="!type ? 'bgDefault' : 'bg-'+type">
      <li>
        <a (click)="hideNavMenu()" [routerLinkActive]="['nav__menu--active']" [routerLink]="['/']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li>
        <a (click)="hideNavMenu()" [routerLinkActive]="['nav__menu--active']" [routerLink]="['/pkmn-list']">
          <img src="assets/images/nav-pokeball.ico" alt="Pokemon list">
          <p>Pokemon list</p>
        </a>
      </li>
      <li>
        <a (click)="hideNavMenu()" target="_blank" href="https://github.com/Zeynvx/Pokemon-app"><i
            class="fa-brands fa-github"></i>Github</a>
      </li>
    </ul>
  </nav>
</header>